<div class="page" data-role="page" data-title="{{locale 'Locate'}}" id="Locate" data-url="Locate"  data-add-back-btn="true">

	{{> header}}

	<div data-role="content" class="iscrollPane">
		<ul class="locations" data-role="listview" data-filter="true">
			{{#each locations}}
			<li>
				<a href="#location{{@index}}">
					<h3>{{name}}</h3>
					<p>250m</p>
				</a>
			</li>
			{{/each}}
		</ul>
	</div>
	<div id="FiltersLocate" class="filtersBar">
		{{> filters}}
	</div>
	{{> footer}}
</div>