<div class="page" data-role="page" data-title="{{locale 'Search'}}" id="Search" data-url="Search"  data-add-back-btn="true">

	{{> header}}
	<div data-role="content" class="iscrollPane" id="ContentSearch">
		<ul class="items"  data-role="listview" data-filter="true">{{#each items}}{{> item}}{{/each}}</ul>
	</div>
	<div id="FiltersSearch" class="filtersBar">
		{{> filters}}
	</div>
	{{> footer}}
</div>